button{
    height: 60px;
    width: 25%;
}

.calculator-body{
    max-width: 400px;
    margin: auto;
}

.result{
    width:100%;
    height: 60px;
    background-color: #bbb;
}

.result p{
    font-size: 40px;
    margin: 5px;
}